@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #111827;
    --white-color: #ffffff;
    --grey-color: #9ca3af;
    --background-blue:rgb(188, 239, 253);
    --background-greyish:#1E3A8A;
    --box-shadow-black:#353535;
    --secondary-red:red;
}

.fluid-section{
padding: 20px;
}

@media screen and (min-width:767px){
    .fluid-section{
        width: 40vw;
        margin: auto;
    }
    .container{
        display: flex;
        flex-direction: column;
    } 
}
h1{
    color: var(--dark-gray);
    text-align: center;
}
#outer-box{
    background-color: var(--background-blue);
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px var(--box-shadow-black);
    margin-top: 100px;
    margin-bottom: 100px;
}
.sub-heading{
    font-size: larger;
    margin: auto;
    text-align: center;
    width: 500px;
}
label{
      font-size: larger;
    margin: 1rem 0;
    color: var(--primary-color);
}

input[type=text]{
    padding: 10px;
    border: 1px solid var(--primary-color);
    width: 100%;
}
.input-btns{
    margin: auto;
    margin-bottom: 20px;
}
@media screen and (min-width:767px){
    .input-btns{
        width: 30vw;
        margin: auto;
        margin-bottom: 20px;
    }
}
button{
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    margin-top: 20px;
}
#check-button{
    width: 100%;
    background-color: var(--background-greyish);
    border: none;
    color: var(--white-color);
}
#error-message{
    text-align: center;
    color: var(--secondary-red);
    font-weight: bold;
    font-size: small;
}
caption{
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
}

th, td {
    border: 2px solid var(--primary-color);
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
}
#bill-amount{
    margin-bottom: 20px;
}
/** footers **/

.footer {
    background-color: var(--grey-color);
    padding: 2rem 1rem;
    text-align: center;
    color: var(--primary-color);
    border-top-right-radius: 1rem;
    margin-top: 50px;
  }
  
  .footer .link {
    color: var(--primary-color);
    font-size: 16px;
    padding: 0;
  }
  
  
  .footer ul {
    padding-inline-start: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  .icons {
    width: 20px;
  }
  .list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
  }
  @media screen and (min-width:767px){
    .footer ul {
        justify-content: flex-end;
    }
  }

  
  #return-table, .amount-given{
      display: none;
  }